.idea
.vscode/*
!.vscode/launch.json
src/jpl_rosa.egg-info
build/
dist/
__pycache__/
.DS_Store
.env
logs/
.specstory
.catkin_tools/
.devcontainer/
devel/
src/turtle_agent/scripts/memory/**/*.jsonl
.venv/
